{% extends "my_project/base.html" %}

<!-- Content block ↓ -->
{% block content %}
    <div class="hero-unit">
        <h1>Hello, world!</h1>

        <p id="description">
            Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. Obi-Wan is here. The Force is with him. I find your lack of faith disturbing. Leave that to me. Send a distress signal, and inform the Senate that all on board were killed. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct.
        </p>

        <p>
            <div class="center">
                <a class="btn btn-primary btn-large">
                    Go to my_app!
                </a>

                <a href="/contact" class="btn btn-primary btn-large">
                    Go to contact_app!
                </a>

                <a href="/formset" class="btn btn-primary btn-large">
                    Go to formset_app!
                </a>
            </div>
        </p>
    </div>
{% endblock %}

<!-- Scripts block ↓ -->
{% block scripts %}
{% endblock %}