{% extends "markup_app/markup_base.html" %}

<!-- Content block ↓ -->
{% block content-fluid %}

	<div class="row-fluid">

		<!-- Sidebar content ↓ -->
		<div class="span3">
			<ul class="nav nav-tabs nav-stacked" id="sidebar">
				<li id="headings">
					<a href="">Headings</a>
				</li>
				<li id="emphasis">
					<a href="emphasis">Emphasis</a>
				</li>
			</ul>
		</div>

		<!-- Body content ↓ -->
		<div class="span9">
			{% block spanwide-content %}
			{% endblock %}
		</div>

	</div>

{% endblock %}

<!-- Scripts block ↓ -->
{% block scripts %}
{% endblock %}