{% extends "markup_app/markup_base.html" %}


<!-- Stylesheets block ↓ -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/tomorrow-night.css"/>
{% endblock %}


<!-- Content block ↓ -->
{% block content-markup %}


    <h2>Coding style</h2>

    <p>
        To print pretty code on our pages, we can use <a target="_blank" href="http://craig.is/making/rainbows/">Rainbow</a>, a code syntax highlighting library written in Javascript.
    </p>

    <p>
        It allows different language sintax and CSS themes.
    </p>

    <p>
        To allow code sintax highlightning, use <code>&lt;code&gt;...&lt;/code&gt;</code> or <code>&lt;pre&gt;...&lt;/pre&gt;</code> tags, with a <code>.data-language="LANGUAGE_NAME"</code> nested to it.
    </p>

    <br>

    <pre>
        <code data-language="generic">
    1.  Rainbow.extend('css', [
    2.      {
    3.          'name': 'comment',
    4.          'pattern': /\/\*[\s\S]*?\*\//gm
    5.      },
    6.      {
    7.          'name': 'constant.hex-color',
    8.          pattern': /#([a-f0-9]{3}|[a-f0-9]{6})(?=;|\s)/gi
    9.      },
    10.     {
    11.         'matches': {
    12.             1: 'constant.numeric',
    13.             2: 'keyword.unit'
    14.         },
    15.         'pattern': /(\d+)(px|cm|s|%)?/g
    16.     }
    17. ], true);
        </code>
    </pre>

{% endblock %}


<!-- Scripts block ↓ -->
{% block scripts %}
    <script src="{{ STATIC_PREFIX }}js/rainbow.js"></script>
    <script src="{{ STATIC_PREFIX }}js/language/generic.js"></script>

    <script>
        document.getElementById("code").className = "active";
    </script>
{% endblock %}