{% extends "my_project/base.html" %}

<!-- Content block ↓ -->
{% block content %}

    <nav>
        <ul class="nav nav-pills">
            <li class="dropdown open">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    Typography
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="{% url markup_app.views.blockquotes %}">Blockquotes</a></li>
                    <li><a href="{% url markup_app.views.emphasis %}">Emphasis</a></li>
                    <li><a href="{% url markup_app.views.headings %}">Headings</a></li>
                    <li><a href="{% url markup_app.views.lists %}">Lists</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url markup_app.views.code %}">Code</a>
            </li>
        </ul>
    </nav>

    {% block content-markup %}
    {% endblock %}

{% endblock %}

<!-- Scripts block ↓ -->
{% block scripts %}
{% endblock %}